@import url('https://fonts.googleapis.com/css?family=Lobster|Oleo+Script|Oswald|Righteous|Titan+One');
.lobster {
    font-family: 'Lobster', cursive;
}
.oleoscript {
    font-family: 'Oleo Script', cursive;
}
.oswald {
    font-family: 'Oswald', sans-serif;
}
.righteous {
    font-family: 'Righteous', cursive
}
.titanone {
    font-family: 'Titan One', cursive;
}
.autocodbar {
    margin-bottom: 5px;
}
.body-min {
    font-size: 1.3rem;
}
.navbar-static-top>.navbar-right {
    text-align: right;
}
/*#tb_detail_reasignar>tr>td>div>.form-control{
    width: 6rem;
    height: 3rem;
}*/

/* ------------------- SECCION MEDIA QUERIES ---------------------*/

@media screen and (min-width: 768px) {
    #modal_detail.modal-dialog {
        width: 75%;
    }
}
@media screen and (max-width: 500px) {
    body.modal-open {
        font-size: 1.1rem;
    }
    .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
        width: auto;
    }
}
/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 100000000;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    top: 30px;
    /* 30px from the top */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}
@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
table tr, th, td {
    text-align: center !important;
}
.shadow-login {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}